/* 회원가입 컨테이너 */
.SignUp{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 회원가입 문구 */
.SignUp-txt{
    position : relative;
    color : #ffffff;
    background-color: #AEC0AC;
    padding : 50px 0px 100px;
}

/* 회원가입 입력 창 */
.SignUp-Container{
    position : relative;
    top : -90px;
    left : 25%;
    width : 500px;
    background-color: #F9F9F9;
    z-index : 10000;
    text-align: left;
    padding : 100px;
}

/* 입력 라벨 */
.inputLabel{
    display: block;
    margin-bottom: 10px;
}

/* 입력 창 */
.inputBox{
    border-radius: 10px;
    border: 1px solid #A5A3A3;
    width : 100%;
    height: 30px;
    padding : 10px 20px;
    margin-bottom: 50px;
}

.inputBox:focus{
    outline : none;
}

/* 회원가입 버튼 */
.SignupBtn{
    padding : 20px 60px;
    border-radius: 20px;
    background-color: #AEC0AC;
    border : none;
    color : #ffffff;
    font-size : medium;
    margin : 40px 150px 0px 150px;
    cursor: pointer;
}

/* 에러메세지 */
.ErrMsg{
    position : absolute;
    z-index: 1000;
}