.groupTxt {
    margin: 100px 0px;
    font-size: 30px;
}

.groupTitle {
    font-size: 20px;
}

/* 소모임 기본 정보 */

.groupInfo {
    display: flex;
    flex-direction: column;
}

.infoPost {
    display: flex;
    align-items: center;
}

.infoPost>label {
    margin: 15px 30px 15px 40px;
}

.infoPost>input {
    border-radius: 50px;
    background: #E5E5E5;
    border: none;
    padding: 8px 15px;
    margin-right: 10px;
}


.infoPost>select {
    width: 150px;
}

/* 소모임 소개글 */
.groupPost {
    display: grid;
    margin-bottom: 50px;
}

.postElement {
    display: flex;
    margin: 15px 10px;
    align-items: center
}

.postElement>label {
    margin-left: 40px;
}

.postElement>textarea {
    resize: none;
    border-radius: 50px;
    border: 1.5px solid #E5E5E5;
    margin-top: 10px;
    margin-left: 30px;
    width: 55vw;
    height: 50vh;
    padding: 40px;
}

.postElement>.text {
    flex-grow: 0.8;
    border-radius: 50px;
    border: 1.5px solid #E5E5E5;
    padding: 15px 30px;
}

.groupTitle {
    font-weight: bold;
    border-bottom: solid 1px #000000;
}

/* 버튼 */
.groupForm>.groupBtn {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 70px;
}

.groupBtn>button {
    padding: 15px 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}