.nav {
    background-color: #D1DDD0;
    height: 96px;
    display: flex;
    align-items: center;
}

.nav > .group, .qna {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    border: none;
    background-color: #D1DDD0;
}

/* 검색바 */
.serach_bar > .search{
    display : flex;
    justify-content: space-between;
    padding : 20px 50px;
    font-size: 20px;
}

/* 분야별 검색 */
.search > .type_search{
    cursor : pointer;
}

/* 분야 드롭다운 */
.type-dropdown{
    position : absolute;
    margin-top: 10px;
    margin-left: -25px;
}

/* 모집중 검색 */
.recruit_search > button {
    background-color: unset;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #B9B6B6;
    cursor: pointer;
}

.recruit_search > button:hover{
    color : #839182;
}

/* 키워드 검색 */
.keyword_search > .keyword {
    padding: 9px 50px;
    background: #F1F1F1;
    border: none;
    border-radius: 50px;
}

/* Q&A 키워드 검색 */
.qna_serach > .keyword{
    text-align: center;
    padding: 15px 250px;
    background: #F1F1F1;
    border: none;
    border-radius: 50px;
    margin-left : 30%;
}

.keyword_search> .keyword:focus, .qna_serach > .keyword:focus{
    outline : none;
}

/* QnA */
.QnAList{
    display : flex;
    flex-direction: column;
}