.nav {
  background-color: #d1ddd0;
  height: 96px;
  display: flex;
  align-items: center;
}

.nav > .group,
.qna {
  margin-left: 50px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  border: none;
  background-color: #d1ddd0;
}

/* 검색바 */
.serach_bar > .search {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  font-size: 20px;
}

/* 분야별 검색 */
.search > .type_search {
  cursor: pointer;
}

/* 분야 드롭다운 */
.type-dropdown {
  position: absolute;
  margin-top: 10px;
  margin-left: -25px;
}

/* 모집중 검색 */
.recruit_search > .false {
  background-color: unset;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #b9b6b6;
  cursor: pointer;
}

.recruit_search > .false:hover {
  color: #839182;
}

.recruit_search > .true {
  background-color: unset;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #839182;
  cursor: pointer;
}

/* 키워드 검색 */
.group_search > .keyword {
  padding: 9px 50px;
  background: #f1f1f1;
  border: none;
  border-radius: 50px;
}

/* Q&A 키워드 검색 */
.qna_serach > .keyword {
  text-align: center;
  padding: 15px 250px;
  background: #f1f1f1;
  border: none;
  border-radius: 50px;
  margin-left: 30%;
}

.keyword_search > .keyword:focus,
.qna_serach > .keyword:focus {
  outline: none;
}

/* QnA */
.QnAList {
  display: flex;
  flex-direction: column;
}

/* 소모임 검색 */
.group_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px;
}

.search-form {
  display: flex;
  gap: 50px;
}

.search-group > .all {
  background-color: #ffffff;
  border: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: #1f1f1f;
}

/* 소모임 검색 모집중 */
.search-form > .ingTrue {
  background-color: #ffffff;
  border: none;
  font-size: 25px;
  font-weight: bold;
  color: #879186;
  cursor: pointer;
}

/* 소모임 검색 모집완료 */
.search-form > .ingFalse {
  background-color: #ffffff;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #b9b6b6;
  cursor: pointer;
}
