@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: Pretendard-Regular;
}

.Mypage {
    padding: 0 200px;
}

.info {
    position : relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.container {
    border-top: 1px solid #000000;
}

.editImg {
    position: relative;
    left: 100px;
    bottom: 70px;
}

.profileForm {
    display: flex;
    flex-direction: column;
    font-size: 23px;
}

input#nickname {
    background-color: #F1F1F1;
    height: 70px;
    margin-top: 10px;
    border: #F1F1F1;
}

#profileSaveButton {
    background-color: #AEC0AC;
    color: #FFFFFF;
    height: 65px;
    width: 295px;
    border-radius: 15px;
    font-size: 20px;
    border : none;
    margin: 30px auto;
    cursor: pointer;
}


.container > .modifyBtn {
    padding : 10px 20px;
    background-color: #AEC0AC;
    color : #ffffff;
    border-radius: 20px;
    border : none;
    cursor: pointer;
}

/* 프로필 이미지 변경 버튼 */
.profileEditBtn{
    width: 44px;
    position: absolute;
    top: 180px;
    right: 370px;
    padding: 50px;
    cursor: pointer;
    opacity: 0;
} 

/* 프로필 이미지 */
.info > .defaultImgMyPage{
    border-radius: 50%;
} 