@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: Pretendard-Regular;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border-top: 1px solid #000000;
}

.editImg {
    position: relative;
    left: 100px;
    bottom: 70px;
}