.myPost {
    padding: 0 70px;
}

.myPostIntro {
    margin-bottom: 30px;
}

.myPostGroup,
.myPostQnA {
    background-color: white;
    color: #8D8D8D;
    border: 1px solid #8A8A8A;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    margin-right: 20px;
    margin-bottom: 60px;
}

.selected {
    background-color: #DFEEDB;
    color: #87AD83;
}