.myPost {
  padding: 0 200px;
  margin-top: 70px;
}

.myPostIntro {
  margin-bottom: 30px;
}

.myPostGroup,
.myPostQnA {
  background-color: white;
  color: #8d8d8d;
  border: 1px solid #8a8a8a;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  margin-right: 20px;
  margin-bottom: 60px;
}

.selected {
  background-color: #dfeedb;
  color: #87ad83;
}

.myPostContent > .groupContainer {
  margin-left: 11%;
}
